{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "CONF": {

    "DefaultUser": "apiadm",
    "DefaultPassword": "P@ssw0rd",
    "Host": "http://localhost:10081/",
    "MongoServer": "mongodb://192.168.137.253:27017/?connectTimeoutMS=600000&socketTimeoutMS=600000",
    "MongoDb": "gwdb"

  }
}
