{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "CONF": {
    
    "IsKeepFullLogAccess": "1",
    "MongoServer": "mongodb://192.168.108.150:27017/?connectTimeoutMS=600000&socketTimeoutMS=600000",
    "MongoDb": "gwdb"

  }
}
